<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>テンプレート</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
  <p>{{ s }}</p>
  <hr>

  <ul>
  {% for x in lis %}
    <li>{{ x }}</li>
  {% endfor %}
  </ul>
  <hr>

  <p>{{ "name: %s age: %s" % (dic["name"], dic["age"]) }}</p>
  <hr>

  {% if bl %}
    <p>True</p>
  {% else %}
    <p>False</p>
  {% endif %}
</body>
</html>