<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>テンプレート</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
    <form action="/test" method="get">
      <button name="get_value" value="from get">get submit</button>
    </form>

    <form action="/test" method="post">
      <button name="post_value" value="from post">post submit</button>
    </form>
</body>
</html>